<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <script type="module" src="/src/pages/components/header.js"></script>
    <title>header</title>
  </head>
  <body>
    <header>
      <h1 class="sr-only">마켓컬리</h1>
      <div class="mx-auto my-0 w-innerWrapper">
        <div class="header__div-top flex h-13 items-center justify-end"></div>
        <div class="mb-3.25 flex items-center justify-between">
          <div class="flex items-center gap-3">
            <a href="/">
              <svg role="img" width="82" height="42" viewBox="0 0 82 42">
                <use href="/logo.svg#logo" />
                <title>마켓컬리 로고</title>
              </svg>
            </a>
            <a href="/" class="text-l-lg text-primary">마켓칼리</a>
            <div class="h-3.5 border-r text-gray-divider"></div>
            <a href="/" class="text-l-lg text-gray-400">뷰티칼리</a>
          </div>
          <div class="relative">
            <input
              type="text"
              class="w-100 rounded border border-primary px-5 py-3 text-p-lg text-gray-400 focus:outline-primary"
              placeholder="검색어를 입력해주세요"
            />
            <button type="button">
              <svg
                class="absolute right-5 top-3"
                role="img"
                width="36"
                height="36"
                viewBox="0 0 36 36"
              >
                <use href="/icons/_sprite.svg#search" />
              </svg>
            </button>
          </div>
          <div class="flex gap-5">
            <button type="button">
              <svg role="img" width="36" height="36" viewBox="0 0 36 36">
                <use href="/icons/_sprite.svg#icons" />
              </svg>
            </button>
            <button type="button">
              <svg role="img" width="36" height="36" viewBox="56 0 36 36">
                <use href="/icons/_sprite.svg#icons" />
              </svg>
            </button>
            <a href="/src/pages/cart/" class="header__a-cart-origin relative">
              <svg role="img" width="36" height="36" viewBox="112 0 36 36">
                <use href="/icons/_sprite.svg#icons" />
              </svg>
            </a>
          </div>
        </div>
        <nav class="flex h-18 items-center justify-between">
          <div class="group relative flex h-18 items-center gap-3">
            <svg role="img" width="16" height="14" viewBox="0 0 16 14">
              <use href="/icons/_sprite.svg#hamburger-black" />
            </svg>
            <span>카테고리</span>
            <div
              class="invisible absolute left-0 top-18 z-10 w-61.75 border-b border-l border-r border-gray-divider px-3 py-2 group-hover:visible"
            >
              <ul class="flex flex-col gap-2">
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 18 59 61"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>선물하기</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 744 59.8 65.5"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>채소</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="10 1317 80 54"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>과일 · 견과 · 쌀</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="22 1716 58 67"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>수산 · 해산 · 건어물</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 265 68 55"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>정육 · 계란</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 586 67 61"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>국 · 반찬 · 메인요리</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 1155 70 58"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>샐러드 · 간편식</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="20 828 63 63"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>면 · 양념 · 오일</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="24 429 66 37"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>생수 · 음료 · 우유 · 커피</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="18 989 64 62"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>간식 · 과자 · 떡</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="18 186 68 49"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>베이커리 · 치즈 · 델리</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="13 1630 75 70"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>건강식품</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="22 1472 57 70"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>와인</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 95 58 69"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>전통주</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 336 50 75"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>생활용품 · 리빙 · 캠핑</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 503 67 62"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>스킨케어 · 메이크업</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="19 1391 63 68"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>헤어 · 바디 · 구강</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="19 664 62 64"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>주방용품</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="23 904 54 69"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>가전제품</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 1070 57 64"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>반려동물</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="22 1228 57 70"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>베이비 · 키즈 · 완구</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 1556 67 59"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>여행 · 티켓</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <ul class="flex">
            <li class="px-13.5 py-2">
              <a href="/src/pages/productList/">신상품</a>
            </li>
            <li class="px-13.5 py-2">
              <a href="/src/pages/productList/">베스트</a>
            </li>
            <li class="px-13.5 py-2">
              <a href="/src/pages/productList/">알뜰쇼핑</a>
            </li>
            <li class="px-13.5 py-2">
              <a href="/src/pages/productList/">특가/혜택</a>
            </li>
          </ul>
          <a class="rounded-3xl border border-gray-300 px-2 py-1" href="#"
            ><span class="text-p-sm text-primary">샛별·낮</span
            ><span class="text-p-sm text-gray-500"> 배송안내</span></a
          >
        </nav>
      </div>
      <div
        class="header__div-simple fixed left-0 right-0 top-0 mx-auto my-0 hidden w-innerWrapper"
      >
        <nav class="flex h-18 items-center justify-between gap-2">
          <div class="group relative flex h-18 items-center gap-3">
            <svg role="img" width="16" height="14" viewBox="0 0 16 14">
              <use href="/icons/_sprite.svg#hamburger-black" />
            </svg>
            <span>카테고리</span>
            <div
              class="invisible absolute left-0 top-18 z-10 w-61.75 border-b border-l border-r border-gray-divider px-3 py-2 group-hover:visible"
            >
              <ul class="flex flex-col gap-2">
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 18 59 61"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>선물하기</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 744 59.8 65.5"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>채소</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="10 1317 80 54"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>과일 · 견과 · 쌀</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="22 1716 58 67"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>수산 · 해산 · 건어물</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 265 68 55"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>정육 · 계란</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 586 67 61"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>국 · 반찬 · 메인요리</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 1155 70 58"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>샐러드 · 간편식</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="20 828 63 63"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>면 · 양념 · 오일</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="24 429 66 37"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>생수 · 음료 · 우유 · 커피</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="18 989 64 62"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>간식 · 과자 · 떡</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="18 186 68 49"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>베이커리 · 치즈 · 델리</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="13 1630 75 70"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>건강식품</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="22 1472 57 70"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>와인</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 95 58 69"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>전통주</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 336 50 75"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>생활용품 · 리빙 · 캠핑</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 503 67 62"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>스킨케어 · 메이크업</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="19 1391 63 68"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>헤어 · 바디 · 구강</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="19 664 62 64"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>주방용품</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="23 904 54 69"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>가전제품</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="21 1070 57 64"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>반려동물</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="22 1228 57 70"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>베이비 · 키즈 · 완구</span>
                  </a>
                </li>
                <li>
                  <a href="/src/pages/detail/" class="flex gap-2">
                    <svg
                      role="img"
                      width="24"
                      height="24"
                      viewBox="17 1556 67 59"
                    >
                      <use href="/icons/_sprite.svg#menuIcon" />
                    </svg>
                    <span>여행 · 티켓</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <ul class="flex">
            <li class="px-12 py-2">
              <a href="/src/pages/productList/">신상품</a>
            </li>
            <li class="px-12 py-2">
              <a href="/src/pages/productList/">베스트</a>
            </li>
            <li class="px-12 py-2">
              <a href="/src/pages/productList/">알뜰쇼핑</a>
            </li>
            <li class="px-12 py-2">
              <a href="/src/pages/productList/">특가/혜택</a>
            </li>
          </ul>
          <div class="relative">
            <input
              type="text"
              class="w-48.5 rounded border border-primary px-5 py-2 text-p-sm text-gray-400 focus:outline-primary"
              placeholder="검색어를 입력해주세요"
            />
            <button type="button">
              <svg
                class="absolute right-5 top-0"
                role="img"
                width="36"
                height="36"
                viewBox="0 0 36 36"
              >
                <use href="/icons/_sprite.svg#search" />
              </svg>
            </button>
          </div>
          <div class="flex gap-5">
            <button type="button">
              <svg role="img" width="36" height="36" viewBox="0 0 36 36">
                <use href="/icons/_sprite.svg#icons" />
              </svg>
            </button>
            <button type="button">
              <svg role="img" width="36" height="36" viewBox="56 0 36 36">
                <use href="/icons/_sprite.svg#icons" />
              </svg>
            </button>
            <a href="/src/pages/cart/" class="header__a-cart-simple relative">
              <svg role="img" width="36" height="36" viewBox="112 0 36 36">
                <use href="/icons/_sprite.svg#icons" />
              </svg>
            </a>
          </div>
        </nav>
      </div>
    </header>
    <div class="h-96"></div>
    <div class="h-96"></div>
    <div class="h-96"></div>
    <div class="h-96"></div>
    <div class="h-96"></div>
    <div class="h-96"></div>
    <div class="h-96"></div>
  </body>
</html>
