<div
  class="fixed right-[39px] top-[440px] z-10 flex h-[223px] w-[76px] flex-col items-center gap-2 border border-gray-200 bg-white p-2"
>
  <svg
    role="img"
    width="18"
    height="18"
    viewBox="8 8 18 18"
    class="button__prev"
  >
    <use href="/icons/_sprite.svg#arrows" />
  </svg>
  <p class="text-l-sm text-black">최근 본 상품</p>
  <div class="swiper h-[129px] w-10">
    <div class="swiper-wrapper"></div>
  </div>
  <svg
    role="img"
    width="18"
    height="18"
    viewBox="8 34 18 18"
    class="button__next"
  >
    <use href="/icons/_sprite.svg#arrows" />
  </svg>
</div>
